.elementor-668 .elementor-element.elementor-element-fb09122 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0 max(2.083vw, 40px);
    --background-transition: 0.3s;
    --padding-top: max(11.979vw, 230px);
    --padding-bottom: max(11.979vw, 230px);
    --padding-left: 0;
    --padding-right: 0;
}

.elementor-668 .elementor-element.elementor-element-625d35d {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-668 .elementor-element.elementor-element-caef72a img {
    width: 100%;
}

.elementor-668 .elementor-element.elementor-element-32219d3 {
    --display: flex;
    --justify-content: center;
    --gap: max(10.156vw, 145px) 0;
    --background-transition: 0.3s;
}

.elementor-668 .elementor-element.elementor-element-05b0c9f .elementor-heading-title {
    color: #434343;
    font-family: "SaolDisplay", Sans-serif;
    font-size: max(4.688vw, 90px);
    font-weight: 400;
    line-height: 0.8em;
}

.elementor-668 .elementor-element.elementor-element-fb4b439 {
    --display: flex;
    --gap: max(2.344vw, 45px) 0;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-668 .elementor-element.elementor-element-fb4b439.e-con {
    --align-self: flex-end;
}

.elementor-668 .elementor-element.elementor-element-152943d {
    color: #2D2D2D;
}

.elementor-668 .elementor-element.elementor-element-160bbbf.elementor-element {
    --align-self: flex-start;
}

.elementor-668 .elementor-element.elementor-element-160bbbf .elementor-button {
    fill: #2D2D2D;
    color: #2D2D2D;
}

@media(max-width:1700px) {
    .elementor-668 .elementor-element.elementor-element-05b0c9f .elementor-heading-title {
        font-size: max(4.688vw, 40px);
    }
}

@media(max-width:768px) {
    .elementor-668 .elementor-element.elementor-element-fb09122 {
        --flex-direction: column-reverse;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --gap: 20px 0;
        --padding-top: 100px;
        --padding-bottom: 100px;
        --padding-left: 0;
        --padding-right: 0;
    }
    .elementor-668 .elementor-element.elementor-element-32219d3 {
        --gap: 50px 50px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-668 .elementor-element.elementor-element-05b0c9f .elementor-heading-title {
        font-size: 11.5vw;
    }
    .elementor-668 .elementor-element.elementor-element-fb4b439 {
        --gap: 30px 30px;
    }
    .elementor-668 .elementor-element.elementor-element-152943d>.elementor-widget-container {
        padding: 0px 0px 0px 20px;
    }
    .elementor-668 .elementor-element.elementor-element-160bbbf>.elementor-widget-container {
        padding: 0em 1.2em 0em 0em;
    }
    .elementor-668 .elementor-element.elementor-element-160bbbf.elementor-element {
        --align-self: flex-end;
    }
}

@media(min-width:769px) {
    .elementor-668 .elementor-element.elementor-element-fb4b439 {
        --width: max(34.896vw, 670px);
    }
}

@media(max-width:1700px) and (min-width:769px) {
    .elementor-668 .elementor-element.elementor-element-fb4b439 {
        --width: 100%;
    }
}

/* Start custom CSS for text-editor, class: .elementor-element-152943d */

.elementor-668 .elementor-element.elementor-element-152943d p {
    text-indent: 8em;
}

@media(max-width: 768px) {
    .elementor-668 .elementor-element.elementor-element-152943d p {
        text-indent: 3em;
    }
}

/* End custom CSS */

/* Start Custom Fonts CSS */

@font-face {
    font-family: 'SaolDisplay';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('https://jehanclone.several.studio/wp-content/uploads/2024/07/SaolDisplay-Regular-1.woff2') format('woff2'), url('https://jehanclone.several.studio/wp-content/uploads/2024/07/SaolDisplay-Regular-1.woff') format('woff');
}

/* End Custom Fonts CSS */