.elementor-313 .elementor-element.elementor-element-6ecc588 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --background-transition: 0.3s;
    --padding-top: max(7.813vw, 155px);
    --padding-bottom: 0;
    --padding-left: 0;
    --padding-right: 0;
}

.elementor-313 .elementor-element.elementor-element-6ecc588:not(.elementor-motion-effects-element-type-background),
.elementor-313 .elementor-element.elementor-element-6ecc588>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #212220;
}

.elementor-313 .elementor-element.elementor-element-6ecc588,
.elementor-313 .elementor-element.elementor-element-6ecc588::before {
    --border-transition: 0.3s;
}

.elementor-313 .elementor-element.elementor-element-a6aed25 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --background-transition: 0.3s;
    --padding-top: 0;
    --padding-bottom: max(6.417vw, 140px);
    --padding-left: 0;
    --padding-right: 0;
}

.elementor-313 .elementor-element.elementor-element-48a1ea3 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-313 .elementor-element.elementor-element-7bca175 .elementor-nav-menu .elementor-item {
    font-family: "HelveticaNeue", Sans-serif;
    font-size: max(0.938vw, 16px);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.3em;
}

.elementor-313 .elementor-element.elementor-element-7bca175 .elementor-nav-menu--main .elementor-item {
    color: #FDF4EE;
    fill: #FDF4EE;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-313 .elementor-element.elementor-element-7bca175 .elementor-nav-menu--main .elementor-item:hover,
.elementor-313 .elementor-element.elementor-element-7bca175 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-313 .elementor-element.elementor-element-7bca175 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-313 .elementor-element.elementor-element-7bca175 .elementor-nav-menu--main .elementor-item:focus {
    color: #FDF4EE;
    fill: #FDF4EE;
}

.elementor-313 .elementor-element.elementor-element-7bca175 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #FDF4EE;
}

.elementor-313 .elementor-element.elementor-element-7bca175 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 0px / 2);
}

.elementor-313 .elementor-element.elementor-element-7bca175 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 0px;
}

.elementor-313 .elementor-element.elementor-element-11a46ff {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-313 .elementor-element.elementor-element-1bf235f img {
    width: 113px;
}

.elementor-313 .elementor-element.elementor-element-def4557 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-313 .elementor-element.elementor-element-dc31333 .elementor-heading-title {
    color: #FDF4EE;
    font-family: "HelveticaNeue", Sans-serif;
    font-size: max(0.938vw, 16px);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.3em;
}

.elementor-313 .elementor-element.elementor-element-492f562 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0;
    --padding-bottom: max(1.302vw, 25px);
    --padding-left: 0;
    --padding-right: 0;
}

.elementor-313 .elementor-element.elementor-element-3cf19e1 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-313 .elementor-element.elementor-element-838a15a .elementor-nav-menu .elementor-item {
    font-family: "HelveticaNeue", Sans-serif;
    font-size: max(0.938vw, 18px);
    font-weight: 400;
}

.elementor-313 .elementor-element.elementor-element-838a15a .elementor-nav-menu--main .elementor-item {
    color: #9B9895;
    fill: #9B9895;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-313 .elementor-element.elementor-element-838a15a .elementor-nav-menu--main .elementor-item:hover,
.elementor-313 .elementor-element.elementor-element-838a15a .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-313 .elementor-element.elementor-element-838a15a .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-313 .elementor-element.elementor-element-838a15a .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-edeea0b);
    fill: var( --e-global-color-edeea0b);
}

.elementor-313 .elementor-element.elementor-element-838a15a .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #9B9895;
}

.elementor-313 .elementor-element.elementor-element-838a15a {
    --e-nav-menu-horizontal-menu-item-margin: calc( 30px / 2);
}

.elementor-313 .elementor-element.elementor-element-838a15a .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 30px;
}

.elementor-313 .elementor-element.elementor-element-6667fa2 {
    text-align: center;
}

.elementor-313 .elementor-element.elementor-element-6667fa2 .elementor-heading-title {
    color: var( --e-global-color-edeea0b);
    font-family: "SaolDisplay", Sans-serif;
    font-size: max(15.5vw, 200px);
    font-weight: 400;
    line-height: 1em;
}

.elementor-313 .elementor-element.elementor-element-a377154 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-313 .elementor-element.elementor-element-8f31de6 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-313 .elementor-element.elementor-element-b73bcd1 .elementor-nav-menu .elementor-item {
    font-family: "HelveticaNeue", Sans-serif;
    font-size: max(0.938vw, 18px);
    font-weight: 400;
}

.elementor-313 .elementor-element.elementor-element-b73bcd1 .elementor-nav-menu--main .elementor-item {
    color: #9B9895;
    fill: #9B9895;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-313 .elementor-element.elementor-element-b73bcd1 .elementor-nav-menu--main .elementor-item:hover,
.elementor-313 .elementor-element.elementor-element-b73bcd1 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-313 .elementor-element.elementor-element-b73bcd1 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-313 .elementor-element.elementor-element-b73bcd1 .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-edeea0b);
    fill: var( --e-global-color-edeea0b);
}

.elementor-313 .elementor-element.elementor-element-b73bcd1 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #9B9895;
}

.elementor-313 .elementor-element.elementor-element-b73bcd1 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 30px / 2);
}

.elementor-313 .elementor-element.elementor-element-b73bcd1 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 30px;
}

.elementor-313 .elementor-element.elementor-element-44ce260 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-313 .elementor-element.elementor-element-3ed906a {
    text-align: center;
}

.elementor-313 .elementor-element.elementor-element-3ed906a .elementor-heading-title {
    color: #9B9895;
    font-family: "HelveticaNeue", Sans-serif;
    font-size: max(0.938vw, 18px);
    font-weight: 400;
}

.elementor-313 .elementor-element.elementor-element-46405ce {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-313 .elementor-element.elementor-element-cd6b611 .elementor-nav-menu .elementor-item {
    font-family: "HelveticaNeue", Sans-serif;
    font-size: max(0.938vw, 18px);
    font-weight: 400;
}

.elementor-313 .elementor-element.elementor-element-cd6b611 .elementor-nav-menu--main .elementor-item {
    color: #9B9895;
    fill: #9B9895;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-313 .elementor-element.elementor-element-cd6b611 .elementor-nav-menu--main .elementor-item:hover,
.elementor-313 .elementor-element.elementor-element-cd6b611 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-313 .elementor-element.elementor-element-cd6b611 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-313 .elementor-element.elementor-element-cd6b611 .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-edeea0b);
    fill: var( --e-global-color-edeea0b);
}

.elementor-313 .elementor-element.elementor-element-cd6b611 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #9B9895;
}

.elementor-313 .elementor-element.elementor-element-cd6b611 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 30px / 2);
}

.elementor-313 .elementor-element.elementor-element-cd6b611 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 30px;
}

@media(max-width:1700px) {
    .elementor-313 .elementor-element.elementor-element-6667fa2 .elementor-heading-title {
        font-size: max(15vw, 50px);
    }
}

@media(max-width:768px) {
    .elementor-313 .elementor-element.elementor-element-6ecc588 {
        --padding-top: 80px;
        --padding-bottom: 0;
        --padding-left: 0;
        --padding-right: 0;
    }
    .elementor-313 .elementor-element.elementor-element-a6aed25 {
        --flex-direction: column-reverse;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --padding-top: 0;
        --padding-bottom: 70px;
        --padding-left: 0;
        --padding-right: 0;
    }
    .elementor-313 .elementor-element.elementor-element-7bca175 .elementor-nav-menu .elementor-item {
        font-size: 4.444vw;
    }
    .elementor-313 .elementor-element.elementor-element-11a46ff {
        --flex-direction: column;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --align-items: center;
    }
    .elementor-313 .elementor-element.elementor-element-11a46ff.e-con {
        --align-self: center;
        --order: 99999/* order end hack */
        ;
    }
    .elementor-313 .elementor-element.elementor-element-1bf235f>.elementor-widget-container {
        margin: -130px 0px 0px 0px;
    }
    .elementor-313 .elementor-element.elementor-element-1bf235f {
        text-align: center;
    }
    .elementor-313 .elementor-element.elementor-element-dc31333 .elementor-heading-title {
        font-size: 5vw;
    }
    .elementor-313 .elementor-element.elementor-element-492f562 {
        --gap: 0px 0px;
    }
    .elementor-313 .elementor-element.elementor-element-838a15a.elementor-element {
        --align-self: center;
    }
    .elementor-313 .elementor-element.elementor-element-6667fa2 .elementor-heading-title {
        font-size: 30vw;
    }
    .elementor-313 .elementor-element.elementor-element-a377154 {
        --gap: 5px 0px;
        --padding-top: 20px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-313 .elementor-element.elementor-element-b73bcd1.elementor-element {
        --align-self: center;
    }
}

@media(min-width:769px) {
    .elementor-313 .elementor-element.elementor-element-a6aed25 {
        --width: 94%;
    }
    .elementor-313 .elementor-element.elementor-element-48a1ea3 {
        --width: 33%;
    }
    .elementor-313 .elementor-element.elementor-element-11a46ff {
        --width: 33%;
    }
    .elementor-313 .elementor-element.elementor-element-def4557 {
        --width: 33%;
    }
}