.elementor-413 .elementor-element.elementor-element-2615939 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --background-transition: 0.3s;
    --padding-top: max(11.979vw, 230px);
    --padding-bottom: 0;
    --padding-left: 0;
    --padding-right: 0;
    --z-index: 1;
}

.elementor-413 .elementor-element.elementor-element-b90c2c3 .elementor-heading-title {
    color: var( --e-global-color-text);
    font-family: "SaolDisplay", Sans-serif;
    font-size: max(8.594vw, 165px);
    font-weight: 400;
}

.elementor-413 .elementor-element.elementor-element-ac753d8 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: -7%;
    --margin-bottom: 0%;
    --margin-left: 0%;
    --margin-right: 0%;
}

.elementor-413 .elementor-element.elementor-element-1adbe86 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --background-transition: 0.3s;
}

.elementor-413 .elementor-element.elementor-element-1c78a24 {
    width: var( --container-widget-width, max(25.26vw, 100px));
    max-width: max(25.26vw, 100px);
    --container-widget-width: max(25.26vw, 100px);
    --container-widget-flex-grow: 0;
}

.elementor-413 .elementor-element.elementor-element-1c78a24.elementor-element {
    --align-self: flex-end;
}

.elementor-413 .elementor-element.elementor-element-8e9de87 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
}

.elementor-413 .elementor-element.elementor-element-5cdc58d {
    width: var( --container-widget-width, 70%);
    max-width: 70%;
    --container-widget-width: 70%;
    --container-widget-flex-grow: 0;
}

.elementor-413 .elementor-element.elementor-element-5cdc58d.elementor-element {
    --align-self: center;
}

.elementor-413 .elementor-element.elementor-element-2f67fdc {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-f2efc5a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-01a3ca4.elementor-element {
    --align-self: center;
}

.elementor-413 .elementor-element.elementor-element-01a3ca4 img {
    width: 100%;
}

.elementor-413 .elementor-element.elementor-element-444c5d3 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --background-transition: 0.3s;
}

.elementor-413 .elementor-element.elementor-element-098abfd {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-413 .elementor-element.elementor-element-c9eed82 {
    width: initial;
    max-width: initial;
}

.elementor-413 .elementor-element.elementor-element-c9eed82.elementor-element {
    --align-self: flex-end;
}

.elementor-413 .elementor-element.elementor-element-f0e812f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: 200px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-d5bd124 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-95157a2 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-413 .elementor-element.elementor-element-159f1aa {
    width: initial;
    max-width: initial;
}

.elementor-413 .elementor-element.elementor-element-159f1aa.elementor-element {
    --align-self: flex-end;
}

.elementor-413 .elementor-element.elementor-element-a0a3bbf {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-52e32c0.elementor-element {
    --align-self: center;
}

.elementor-413 .elementor-element.elementor-element-6e5a033 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: -100px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0;
    --padding-bottom: max(7.813vw, 150px);
    --padding-left: 0;
    --padding-right: 0;
}

.elementor-413 .elementor-element.elementor-element-fe3e71b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-19b1474 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-413 .elementor-element.elementor-element-19b1474.e-con {
    --align-self: flex-end;
}

.elementor-413 .elementor-element.elementor-element-1e3890b.elementor-element {
    --align-self: flex-start;
}

body:not(.rtl) .elementor-413 .elementor-element.elementor-element-1e3890b {
    left: -57%;
}

body.rtl .elementor-413 .elementor-element.elementor-element-1e3890b {
    right: -57%;
}

.elementor-413 .elementor-element.elementor-element-1e3890b {
    top: -35px;
    text-align: right;
}

.elementor-413 .elementor-element.elementor-element-1e3890b img {
    width: 44%;
}

.elementor-413 .elementor-element.elementor-element-88eedcf>.elementor-widget-container {
    margin: 90px 0px 0px 0px;
}

.elementor-413 .elementor-element.elementor-element-88eedcf.elementor-element {
    --align-self: flex-end;
}

.elementor-413 .elementor-element.elementor-element-88eedcf {
    z-index: 1;
    text-align: right;
}

.elementor-413 .elementor-element.elementor-element-88eedcf img {
    width: 76%;
}

.elementor-413 .elementor-element.elementor-element-2f26421 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-972ceba {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 90px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-06f2437 {
    width: initial;
    max-width: initial;
}

.elementor-413 .elementor-element.elementor-element-06f2437.elementor-element {
    --align-self: flex-end;
}

.elementor-413 .elementor-element.elementor-element-3399196 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: -100px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0;
    --padding-bottom: max(7.813vw, 150px);
    --padding-left: 0;
    --padding-right: 0;
}

.elementor-413 .elementor-element.elementor-element-3b00eb6 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-0012bd9 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 90px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-c043b9f {
    width: initial;
    max-width: initial;
    text-align: center;
}

.elementor-413 .elementor-element.elementor-element-c043b9f.elementor-element {
    --align-self: flex-end;
}

.elementor-413 .elementor-element.elementor-element-f5393c6>.elementor-widget-container {
    padding: 0em 1.2em 0em 0em;
}

.elementor-413 .elementor-element.elementor-element-f5393c6.elementor-element {
    --align-self: center;
}

.elementor-413 .elementor-element.elementor-element-f5393c6 .elementor-button {
    font-family: "HelveticaNeue", Sans-serif;
    font-weight: 600;
    fill: var( --e-global-color-text);
    color: var( --e-global-color-text);
}

.elementor-413 .elementor-element.elementor-element-b30e521 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 11.198vw;
    --padding-bottom: 0;
    --padding-left: 0;
    --padding-right: 0;
}

.elementor-413 .elementor-element.elementor-element-9351644>.elementor-widget-container {
    padding: 0px 150px 0px 0px;
}

.elementor-413 .elementor-element.elementor-element-9351644.elementor-element {
    --align-self: flex-end;
}

.elementor-413 .elementor-element.elementor-element-9351644 {
    text-align: right;
}

.elementor-413 .elementor-element.elementor-element-9351644 .elementor-heading-title {
    color: var( --e-global-color-edeea0b);
    font-family: "SaolDisplay", Sans-serif;
    font-size: max(6.51vw, 100px);
    font-weight: 400;
}

.elementor-413 .elementor-element.elementor-element-71cf6fc {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-b03c043 {
    --display: flex;
    --justify-content: center;
    --gap: 50px 0px;
    --background-transition: 0.3s;
    --padding-top: 0%;
    --padding-bottom: 0%;
    --padding-left: 5%;
    --padding-right: 0%;
}

.elementor-413 .elementor-element.elementor-element-7045543 {
    --display: flex;
    --gap: 12px 0px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-3915052 .elementor-heading-title {
    color: var( --e-global-color-edeea0b);
    font-family: "HelveticaNeue", Sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.elementor-413 .elementor-element.elementor-element-c07e112 .elementor-heading-title {
    color: var( --e-global-color-edeea0b);
    font-family: "HelveticaNeue", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-413 .elementor-element.elementor-element-cc833da {
    --display: flex;
    --gap: 12px 0px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-6ba82d5 .elementor-heading-title {
    color: var( --e-global-color-edeea0b);
    font-family: "HelveticaNeue", Sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.elementor-413 .elementor-element.elementor-element-6d950f9 .elementor-heading-title {
    color: var( --e-global-color-edeea0b);
    font-family: "HelveticaNeue", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-413 .elementor-element.elementor-element-d834590 {
    --display: flex;
    --gap: 12px 0px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-827a20d .elementor-heading-title {
    color: var( --e-global-color-edeea0b);
    font-family: "HelveticaNeue", Sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.elementor-413 .elementor-element.elementor-element-e469d37 .elementor-heading-title {
    color: var( --e-global-color-edeea0b);
    font-family: "HelveticaNeue", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-413 .elementor-element.elementor-element-30f91fa {
    --display: flex;
    --gap: 12px 0px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-727dd48 .elementor-heading-title {
    color: var( --e-global-color-edeea0b);
    font-family: "HelveticaNeue", Sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.elementor-413 .elementor-element.elementor-element-b059e1e .elementor-heading-title {
    color: var( --e-global-color-edeea0b);
    font-family: "HelveticaNeue", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.elementor-413 .elementor-element.elementor-element-62e5d29 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-dcb839d img {
    width: 100%;
}

.elementor-413 .elementor-element.elementor-element-9290a39 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 300px;
    --padding-bottom: 500px;
    --padding-left: 0;
    --padding-right: 5vw;
}

.elementor-413 .elementor-element.elementor-element-9dbf975>.elementor-widget-container {
    padding: 0px 0px 100px 0px;
}

.elementor-413 .elementor-element.elementor-element-9dbf975 {
    text-align: left;
}

.elementor-413 .elementor-element.elementor-element-9dbf975 .elementor-heading-title {
    color: var( --e-global-color-edeea0b);
    font-family: "SaolDisplay", Sans-serif;
    font-size: max(6.51vw, 100px);
    font-weight: 400;
}

.elementor-413 .elementor-element.elementor-element-c1e52b1 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-c1e52b1.e-con {
    --align-self: flex-end;
}

.elementor-413 .elementor-element.elementor-element-254f516 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: flex-end;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 0px 1px 0px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 1px;
    --border-left-width: 0px;
    border-color: var( --e-global-color-edeea0b);
    --border-color: var( --e-global-color-edeea0b);
    --padding-top: 0px;
    --padding-bottom: 20px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-254f516,
.elementor-413 .elementor-element.elementor-element-254f516::before {
    --border-transition: 0.3s;
}

.elementor-413 .elementor-element.elementor-element-b2ad852 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-90cded6 .elementor-heading-title {
    color: var( --e-global-color-edeea0b);
    font-family: "SaolDisplay", Sans-serif;
    font-size: 2.8vw;
    font-weight: 400;
}

.elementor-413 .elementor-element.elementor-element-3b7d3b3 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: flex-end;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 0px 1px 0px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 1px;
    --border-left-width: 0px;
    border-color: var( --e-global-color-edeea0b);
    --border-color: var( --e-global-color-edeea0b);
    --padding-top: 0px;
    --padding-bottom: 20px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-3b7d3b3,
.elementor-413 .elementor-element.elementor-element-3b7d3b3::before {
    --border-transition: 0.3s;
}

.elementor-413 .elementor-element.elementor-element-fcae992 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-4f2c1fc .elementor-heading-title {
    color: var( --e-global-color-edeea0b);
    font-family: "SaolDisplay", Sans-serif;
    font-size: 2.8vw;
    font-weight: 400;
}

.elementor-413 .elementor-element.elementor-element-95613af {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: flex-end;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 0px 1px 0px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 1px;
    --border-left-width: 0px;
    border-color: var( --e-global-color-edeea0b);
    --border-color: var( --e-global-color-edeea0b);
    --padding-top: 0px;
    --padding-bottom: 20px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-95613af,
.elementor-413 .elementor-element.elementor-element-95613af::before {
    --border-transition: 0.3s;
}

.elementor-413 .elementor-element.elementor-element-2d83704 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-f9297f3 .elementor-heading-title {
    color: var( --e-global-color-edeea0b);
    font-family: "SaolDisplay", Sans-serif;
    font-size: 2.8vw;
    font-weight: 400;
}

.elementor-413 .elementor-element.elementor-element-53bf8a6 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: flex-end;
    --background-transition: 0.3s;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 0px 1px 0px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 1px;
    --border-left-width: 0px;
    border-color: var( --e-global-color-edeea0b);
    --border-color: var( --e-global-color-edeea0b);
    --padding-top: 0px;
    --padding-bottom: 20px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-53bf8a6,
.elementor-413 .elementor-element.elementor-element-53bf8a6::before {
    --border-transition: 0.3s;
}

.elementor-413 .elementor-element.elementor-element-ffce233 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-413 .elementor-element.elementor-element-ec07328 .elementor-heading-title {
    color: var( --e-global-color-edeea0b);
    font-family: "SaolDisplay", Sans-serif;
    font-size: 2.8vw;
    font-weight: 400;
}

.elementor-413 .elementor-element.elementor-element-2749430 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

@media(min-width:769px) {
    .elementor-413 .elementor-element.elementor-element-1adbe86 {
        --width: 50%;
    }
    .elementor-413 .elementor-element.elementor-element-8e9de87 {
        --width: 50%;
    }
    .elementor-413 .elementor-element.elementor-element-f2efc5a {
        --width: 50%;
    }
    .elementor-413 .elementor-element.elementor-element-444c5d3 {
        --width: 50%;
    }
    .elementor-413 .elementor-element.elementor-element-098abfd {
        --width: 34.635vw;
    }
    .elementor-413 .elementor-element.elementor-element-d5bd124 {
        --width: 50%;
    }
    .elementor-413 .elementor-element.elementor-element-95157a2 {
        --width: 36.521vw;
    }
    .elementor-413 .elementor-element.elementor-element-a0a3bbf {
        --width: 50%;
    }
    .elementor-413 .elementor-element.elementor-element-fe3e71b {
        --width: 55%;
    }
    .elementor-413 .elementor-element.elementor-element-2f26421 {
        --width: 45%;
    }
    .elementor-413 .elementor-element.elementor-element-972ceba {
        --width: 29vw;
    }
    .elementor-413 .elementor-element.elementor-element-0012bd9 {
        --width: 43.646vw;
    }
    .elementor-413 .elementor-element.elementor-element-b03c043 {
        --width: 35%;
    }
    .elementor-413 .elementor-element.elementor-element-62e5d29 {
        --width: 65%;
    }
    .elementor-413 .elementor-element.elementor-element-c1e52b1 {
        --width: 50%;
    }
    .elementor-413 .elementor-element.elementor-element-b2ad852 {
        --width: 100%;
    }
    .elementor-413 .elementor-element.elementor-element-fcae992 {
        --width: 100%;
    }
    .elementor-413 .elementor-element.elementor-element-2d83704 {
        --width: 100%;
    }
    .elementor-413 .elementor-element.elementor-element-ffce233 {
        --width: 100%;
    }
}

@media(max-width:1700px) {
    .elementor-413 .elementor-element.elementor-element-1c78a24 {
        --container-widget-width: max(29vw, 100px);
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, max(29vw, 100px));
        max-width: max(29vw, 100px);
    }
}

@media(max-width:1200px) {
    .elementor-413 .elementor-element.elementor-element-b30e521 {
        --padding-top: 90px;
        --padding-bottom: 0;
        --padding-left: 0;
        --padding-right: 0;
    }
    .elementor-413 .elementor-element.elementor-element-9351644.elementor-element {
        --align-self: center;
    }
    .elementor-413 .elementor-element.elementor-element-9351644 {
        text-align: center;
    }
    .elementor-413 .elementor-element.elementor-element-9351644 .elementor-heading-title {
        font-size: 15.385vw;
    }
    .elementor-413 .elementor-element.elementor-element-9290a39 {
        --padding-top: 90px;
        --padding-bottom: 0;
        --padding-left: 0;
        --padding-right: 0;
    }
    .elementor-413 .elementor-element.elementor-element-9dbf975 {
        text-align: center;
    }
    .elementor-413 .elementor-element.elementor-element-9dbf975 .elementor-heading-title {
        font-size: 15.385vw;
    }
}

@media(max-width:768px) {
    .elementor-413 .elementor-element.elementor-element-2615939 {
        --padding-top: 39.744vw;
        --padding-bottom: 0;
        --padding-left: 0;
        --padding-right: 0;
    }
    .elementor-413 .elementor-element.elementor-element-b90c2c3 .elementor-heading-title {
        font-size: 15.385vw;
    }
    .elementor-413 .elementor-element.elementor-element-ac753d8 {
        --margin-top: 50px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-413 .elementor-element.elementor-element-1adbe86 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-413 .elementor-element.elementor-element-1c78a24 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 100%);
        max-width: 100%;
    }
    .elementor-413 .elementor-element.elementor-element-5cdc58d {
        --container-widget-width: 90%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 90%);
        max-width: 90%;
    }
    .elementor-413 .elementor-element.elementor-element-5cdc58d.elementor-element {
        --align-self: flex-end;
    }
    .elementor-413 .elementor-element.elementor-element-01a3ca4 {
        text-align: left;
    }
    .elementor-413 .elementor-element.elementor-element-01a3ca4 img {
        width: 80%;
    }
    .elementor-413 .elementor-element.elementor-element-444c5d3 {
        --padding-top: 60px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-413 .elementor-element.elementor-element-098abfd {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-413 .elementor-element.elementor-element-f0e812f {
        --flex-direction: column-reverse;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --gap: 23px 0px;
        --margin-top: 50px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-413 .elementor-element.elementor-element-95157a2 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-413 .elementor-element.elementor-element-52e32c0 {
        text-align: right;
    }
    .elementor-413 .elementor-element.elementor-element-52e32c0 img {
        width: 80%;
    }
    .elementor-413 .elementor-element.elementor-element-6e5a033 {
        --gap: 39px 0px;
        --margin-top: 125px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0;
        --padding-bottom: 110;
        --padding-left: 0;
        --padding-right: 0;
    }
    .elementor-413 .elementor-element.elementor-element-1e3890b {
        text-align: left;
    }
    .elementor-413 .elementor-element.elementor-element-1e3890b img {
        width: 30%;
    }
    .elementor-413 .elementor-element.elementor-element-88eedcf {
        text-align: center;
    }
    .elementor-413 .elementor-element.elementor-element-972ceba {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-413 .elementor-element.elementor-element-3399196 {
        --gap: 39px 0px;
        --margin-top: 125px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0;
        --padding-bottom: 110;
        --padding-left: 0;
        --padding-right: 0;
    }
    .elementor-413 .elementor-element.elementor-element-0012bd9 {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-413 .elementor-element.elementor-element-b03c043 {
        --padding-top: 20px;
        --padding-bottom: 20px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-413 .elementor-element.elementor-element-90cded6 .elementor-heading-title {
        font-size: 8.205vw;
    }
    .elementor-413 .elementor-element.elementor-element-4f2c1fc .elementor-heading-title {
        font-size: 8.205vw;
    }
    .elementor-413 .elementor-element.elementor-element-f9297f3 .elementor-heading-title {
        font-size: 8.205vw;
    }
    .elementor-413 .elementor-element.elementor-element-ec07328 .elementor-heading-title {
        font-size: 8.205vw;
    }
}

/* Start custom CSS for text-editor, class: .elementor-element-1c78a24 */

.elementor-413 .elementor-element.elementor-element-1c78a24 p {
    text-indent: 5em;
}

/* End custom CSS */

/* Start custom CSS for text-editor, class: .elementor-element-c9eed82 */

.elementor-413 .elementor-element.elementor-element-c9eed82 p {
    text-indent: 17em;
}

@media(max-width: 768px) {
    .elementor-413 .elementor-element.elementor-element-c9eed82 p {
        text-indent: 4em;
    }
}

/* End custom CSS */

/* Start custom CSS for text-editor, class: .elementor-element-159f1aa */

.elementor-413 .elementor-element.elementor-element-159f1aa p {
    text-indent: 10em;
}

@media(max-width: 768px) {
    .elementor-413 .elementor-element.elementor-element-159f1aa p {
        text-indent: 4em;
    }
}

/* End custom CSS */

/* Start custom CSS for image, class: .elementor-element-1e3890b */

@media(max-width: 768px) {
    .elementor-413 .elementor-element.elementor-element-1e3890b {
        top: -50px !important;
        left: 0px !important;
        width: fit-content !important;
    }
}

/* End custom CSS */

/* Start custom CSS for container, class: .elementor-element-19b1474 */

.elementor-413 .elementor-element.elementor-element-19b1474 {
    width: fit-content;
}

/* End custom CSS */

/* Start custom CSS for text-editor, class: .elementor-element-06f2437 */

.elementor-413 .elementor-element.elementor-element-06f2437 p {
    text-indent: 5em;
}

/* End custom CSS */

/* Start Custom Fonts CSS */

@font-face {
    font-family: 'SaolDisplay';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('https://jehanclone.several.studio/wp-content/uploads/2024/07/SaolDisplay-Regular-1.woff2') format('woff2'), url('https://jehanclone.several.studio/wp-content/uploads/2024/07/SaolDisplay-Regular-1.woff') format('woff');
}

/* End Custom Fonts CSS */

/* Start Custom Fonts CSS */

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-Roman.woff2') format('woff2'), url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-Roman.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 900;
    font-display: auto;
    src: url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-Black.woff2') format('woff2'), url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-Black.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: italic;
    font-weight: 900;
    font-display: auto;
    src: url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-BlackItalic.woff2') format('woff2'), url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-BlackItalic.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 600;
    font-display: auto;
    src: url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-Bold.woff2') format('woff2'), url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-Bold.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: italic;
    font-weight: 600;
    font-display: auto;
    src: url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-BoldItalic.woff2') format('woff2'), url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 300;
    font-display: auto;
    src: url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-Light.woff2') format('woff2'), url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-Light.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: italic;
    font-weight: 300;
    font-display: auto;
    src: url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-LightItalic.woff2') format('woff2'), url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 500;
    font-display: auto;
    src: url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-Medium.woff2') format('woff2'), url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-Medium.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: italic;
    font-weight: 500;
    font-display: auto;
    src: url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-MediumItalic.woff2') format('woff2'), url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: italic;
    font-weight: normal;
    font-display: auto;
    src: url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-Italic.woff2') format('woff2'), url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-Italic.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 100;
    font-display: auto;
    src: url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-Thin.woff2') format('woff2'), url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-Thin.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: italic;
    font-weight: 100;
    font-display: auto;
    src: url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-ThinItalic.woff2') format('woff2'), url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-ThinItalic.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 200;
    font-display: auto;
    src: url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-UltraLight.woff2') format('woff2'), url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-UltraLight.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: italic;
    font-weight: 200;
    font-display: auto;
    src: url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-UltraLightItalic.woff2') format('woff2'), url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-UltraLightItalic.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 800;
    font-display: auto;
    src: url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-Heavy.woff2') format('woff2'), url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-Heavy.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: italic;
    font-weight: 800;
    font-display: auto;
    src: url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-HeavyItalic.woff2') format('woff2'), url('https://jehanclone.several.studio/wp-content/uploads/2024/07/HelveticaNeue-HeavyItalic.woff') format('woff');
}

/* End Custom Fonts CSS */